@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

.storyContainer {
  margin: 0 auto;
  max-width: 740px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.storyTitle {
  margin: 0 auto;
  border: none;
  outline: none;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 20px;
  color: #fff;
  min-height: 80px;
  max-height: auto;
  max-width: 740px;
}

.storyTitle::placeholder {
  font-family: "Lora", serif;
}

.editorBlock {
  min-width: 740px !important;
  caret-color: #fff;
  color: #fff !important;
}

.publishBtn {
  color: #fff;
  border: none;
  background-color: #3858f6;
  border-radius: 20px;
  padding: 10px 0px !important;
  width: 100px !important;
  font-size: 14px !important;
  margin-top: 30px;
  margin-left: 20px;
}

.ce-toolbar__plus {
  background-color: #eff2f5 !important;
  color: black !important;
}

.ce-popover--opened {
  color: black !important;
}
